<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>URL 링크</h1>
<ul>
    <li>
        <a th:href="@{hello}">Basic URL</a>
    </li>
</ul>
<ul>장원영 정보 출력
    <li>이름:[[${jang.memberName}]]</li>
    <li>이름:[[${jang.age}]]</li>
    <li>이름:[[${jang.address}]]</li>
</ul>
<ul>쿼리 파라미터(Request Param)
    <!--localhost:8080/query?name=장원영&age=21 -->
    <li><a th:href="@{|/query?name=${jang.memberName}&age=&age{jang.age}|}">쿼리 파라미터 dto로 받기</a></li>

</ul>
<ul>쿼리 파라미터(Request Param)
    <!--localhost:8080/query?name=장원영&age=21 -->
    <li><a th:href="@{|/queryDTO?memberName=${jang.memberName}&age=${jang.age}&address=${jang.address}}">쿼리 파라미터 테스트</a></li>

</ul>
<hr>
<ul>PathVariable 테스트
    <!--localhost:8080/path/장원영/21 -->
  <li><a th:href="@{|/path/${jang.memberName}/${jang.age}|}">PathVariable</a></li>
</ul>
</body>
</html>